n8n_workflow.json
{
  "name": "Bakery Scraper Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2512,
        480
      ],
      "webhookId": "my-workflow",
      "id": "c534ff8d-6d3e-4bff-a288-d0ce8127e95f"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_maps"
            },
            {
              "name": "q",
              "value": "={{$json.body.businessType}} in {{$json.body.city}}, {{$json.body.country}}"
            },
            {
              "name": "type",
              "value": "search"
            },
            {
              "name": "api_key",
              "value": "276ae97465afb0be268260b855128648b1b6e0d991832867ead8fe0abeedde74"
            },
            {
              "name": "num",
              "value": "={{$json.body.max_leads || 20}}"
            }
          ]
        },
        "options": {}
      },
      "name": "SerpApi - Google Maps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2720,
        480
      ],
      "id": "e9c68178-eb58-4599-8973-be0123b9cd07"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "clear",
        "sheetId": "1UJMpuMOlUHp1COWJsYyvBUlbNEec2yzfo_k39Q-1cnk",
        "range": "A2:Z"
      },
      "name": "Clear Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2912,
        480
      ],
      "id": "9a76d200-1b5d-41af-863a-9efdcd750e40",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tLXcVnYpgrvZvXew",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "local_results",
        "options": {}
      },
      "name": "Split Results",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        3120,
        480
      ],
      "id": "2b3886c6-bb23-475a-8931-03657c9e2c6e"
    },
    {
      "parameters": {
        "maxItems": "={{ $node[\"Webhook\"].json[\"body\"][\"max_leads\"] }}"
      },
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3312,
        480
      ],
      "id": "b3de2cd2-9033-4132-9e81-03f7fc1c89b1"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"title\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$json[\"email\"] || undefined}}"
            },
            {
              "name": "Address",
              "value": "={{$json[\"address\"]}}"
            },
            {
              "name": "Instagram",
              "value": "={{$json[\"Instagram\"] || undefined}}"
            },
            {
              "name": "Website",
              "value": "={{$json[\"website\"] || null}}"
            },
            {
              "name": "Rating",
              "value": "={{$json[\"rating\"] || null}}"
            },
            {
              "name": "Category",
              "value": "={{$json[\"type\"]}}"
            },
            {
              "name": "Phone",
              "value": "={{$json[\"phone\"] || null}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3520,
        480
      ],
      "id": "68c614d6-2e1b-4358-81e4-2e71dce44249"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1UJMpuMOlUHp1COWJsYyvBUlbNEec2yzfo_k39Q-1cnk",
        "range": "A:H",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        3712,
        480
      ],
      "id": "c728473c-7e11-421b-a14d-cf8f97226460",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tLXcVnYpgrvZvXew",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "scraped_leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{$json[\"Name\"]}}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{$json[\"Email\"]}}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{$json[\"Address\"]}}"
            },
            {
              "fieldId": "instagram",
              "fieldValue": "={{$json[\"Instagram\"]}}"
            },
            {
              "fieldId": "Website",
              "fieldValue": "={{$json[\"Website\"]}}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{$json[\"Rating\"]}}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{$json[\"Category\"]}}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{$json[\"Phone\"]}}"
            }
          ]
        }
      },
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3712,
        704
      ],
      "id": "1b9d7e5b-a4da-4f54-ae87-b432338b8f1d",
      "credentials": {
        "supabaseApi": {
          "id": "BJRQCP4x86M9U2aa",
          "name": "Supabase account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SerpApi - Google Maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpApi - Google Maps": {
      "main": [
        [
          {
            "node": "Clear Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Sheet": {
      "main": [
        [
          {
            "node": "Split Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Results": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7852668b-4797-4a94-9bf2-4c1498c5c122",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fba02c56f732391825a81b0d3eb33212632413b406e8a0f3fe5b1cfa7369a99"
  },
  "id": "tlhrcfLGU19FsepO",
  "tags": []
}